<div class="background">
  <h1>問卷回饋</h1>
  <div class="divCss">
    <table>
      <thead>
        <tr>
          <th scope="col">姓名</th>
          <th scope="col">信箱</th>
          <th scope="col">填寫時間</th>
          <th scope="col" class="col-time">觀看</th>
        </tr>
      </thead>
      <tbody>
        @for (quset of questArray; track $index) {
        <tr>
          <td>{{quset.name}}</td>
          <td>{{quset.email}}</td>
          <td>{{quset.fillinDate}}</td>
          <td class="urlCss" (click)="goPreview()">前往</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="btn-back">
  <button (click)="goBack()">回上頁</button>
  <button (click)="goStatistics()">看結果</button>
  </div>
</div>
