<div class="background">
  <h1>問卷回饋</h1>
 <div class="divCss">
    <table>
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">填寫時間</th>
                <th scope="col">觀看</th>
            </tr>
        </thead>
        <tbody>
            @for (quset of questArray; track $index) {
            <tr>
                <td>{{quset.questName}}</td>
                <td>{{quset.questTime}}</td>
                <td class="urlCss" (click)="goPreview()">前往</td>
            </tr>
            }
        </tbody>
    </table>
 </div>
 <button class="btn-back" (click)="goBack()" >回上頁</button>
</div>
