<div class="background">
  <!-- 說明欄 -->
  <div class="questionnaire-info">
    <h2>{{chartArray.quiz.title}}</h2>
    <p class="time-info">{{chartArray.quiz.startDate}} ~ {{chartArray.quiz.endDate}}</p>
    <p class="description">{{chartArray.quiz.description}}</p>
  </div>
<!-- 統計圖表 -->
  <div class="background1">
    @for(chart of chartArray.questionVoList ;track $index){
    <!-- 多選/單選題-->
    @if (chart.type != 'T') {
    <div>
      <h3>{{chart.id}}.{{ chart.label }}</h3>
    </div>
    <div class="flexChart">
      <div class="canvasStyle">
        <canvas id={{chart.id}}></canvas>
      </div>
      <!-- 文字顯示數據-->
      <div class="canvasData">
        @for(labelsName of chart.labels ;track $index){
        <h5>{{chart.labels[$index]}}
          <span>{{ chart.data[$index] }}</span>
        </h5>
        }
      </div>
    </div>
    }
    }
    <button routerLink="/user-list" routerLinkActive="active" class="btn-back">回到表單</button>
  </div>
</div>
