<div class="container">
  <!-- 區塊一：問卷基本資訊 -->
  <div class="basic-info">
    <h2>問卷基本資訊</h2>

    <!-- 問卷名稱-->
    <div class="form-group">
      <label for="title">問卷名稱</label>
      <input type="text" id="title" [(ngModel)]="questionnaire.title" class="form-control">
    </div>

    <!-- 開始時間-->
    <div class="form-group">
      <label for="startDate">開始時間</label>
      <input type="date" id="sTime" class="form-control" [(ngModel)]="questionnaire.sTime" [max]="questionnaire.eTime"
        [min]="today">
    </div>

    <!-- 結束時間-->
    <div class="form-group">
      <label for="endDate">結束時間</label>
      <input type="date" id="eTime" class="form-control" [title]="!questionnaire.sTime ? '請先填選開始日期' : ''"
        [disabled]="!questionnaire.sTime" [(ngModel)]="questionnaire.eTime" [min]="questionnaire.sTime">
    </div>

    <!-- 問卷簡介-->
    <div class="form-group">
      <label for="explain">問卷簡介</label>
      <textarea id="explain" [(ngModel)]="questionnaire.explain" class="form-control" rows="3"></textarea>
    </div>
  </div>

  <!-- 區塊二：問題設定 -->
  <div class="questions-section">
    <h2>問題設定</h2>
    @for(question of questionnaire.questArray; track $index) {
    <div class="question-item">
      <div class="question-header">
        <h3>問題 {{$index + 1}}</h3>

        <!-- 題型設定-->
        <div class="form-type">
          <label>題型</label>
          <select [(ngModel)]="question.type" class="form-select">
            <option value="Q">單選題</option>
            <option value="M">多選題</option>
            <option value="T">文字題</option>
          </select>
        </div>

        <!-- 必填設定-->
        <div class="form-type">
          <label>是否必填</label>
          <mat-slide-toggle [(ngModel)]="question.need" color="primary">
            {{ question.need ? '必填' : '非必填' }}
          </mat-slide-toggle>
        </div>

        <!-- 刪除問題-->
        <mat-icon fontIcon="delete" (click)="removeQuestion($index)"></mat-icon>
      </div>

      <!-- 新增題目名稱-->
      <div class="form-group">
        <label>題目</label>
        <input type="text" [(ngModel)]="question.questName" class="form-control">
      </div>

      <!-- 選項區域（僅單選/多選題） -->
      @if(question.type !== 'T') {
      <div class="option-tiltle">
        <label>選項</label>
      </div>

      <!-- 選項名稱-->
      @for(option of question.options; track $index) {
      <div class="option-item">
        <input type="text" [(ngModel)]="option.optionName" class="form-control" placeholder="選項內容">

        <!-- 移除選項-->
        <mat-icon fontIcon="close" (click)="removeOption(question, $index)"></mat-icon>
      </div>
      }

      <!-- 新增選項-->
      <button (click)="addOption(question)" class="btn btn-secondary">新增選項</button>
      }
    </div>
    }

    <!-- 新增問題-->
    <mat-icon fontIcon="add" (click)="addQuestion()"></mat-icon>
  </div>


  <!-- 按鈕區域 -->
  <div class="actions">
    <button (click)="goback()" class="btn btn-cancel">取消</button>
    <button (click)="saveQuestionnaire()" class="btn btn-success">預覽</button>
  </div>
</div>
