/*架構*/
.container{
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

/* 標題區塊 */
.basic-info,
.questions-section {
  background-color: #f0ead6;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  label{
    color: #8B4513;
    font-weight: 600;
  }

  h2 {
    color: #4b2f1a;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #966642;
  }

  mat-icon {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #cdb096;
    }
  }
}

/* 表單元素 */
.form-group {
  margin-top: 20px;

  &.required label::before {
    content: '*';
    color: red;
    margin-right: 4px;
  }

  .form-control {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #cdb096;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;

    &:focus {
      outline: none;
      border-color: #966642;
      box-shadow: 0 0 0 2px rgba(150, 102, 66, 0.2);
    }
  }
}

.form-type {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    width: 75px;
    font-size: 16px;
    font-weight: 500;
    color: #966642;
  }

  .form-select {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #cdb096;
    border-radius: 7px;
    font-size: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: #966642;
      box-shadow: 0 0 0 2px rgba(150, 102, 66, 0.2);
    }
  }
}

/* 單題區塊 */
.question-item {
  background: rgba(255, 251, 238, 0.4);
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid rgba(205, 176, 150, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


  .question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h3 {
      margin: 0;
      font-size: 20px;
      color: #8B4513;
    }

    mat-icon {
      font-size: 30px;
      cursor: pointer;
      color: #ea402d;
      transition: color 0.2s;

      &:hover {
        color: #9c443a;
      }
    }
  }
}

/* 選項區域 */
.option-tiltle {
  margin-top: 20px;
}

.option-item {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  .form-control {
    width: 50%;
    padding: 8px 10px;
    border: 1px solid #cdb096;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: #966642;
      box-shadow: 0 0 0 2px rgba(150, 102, 66, 0.2);
    }
  }

  mat-icon {
    font-size: 30px;
    cursor: pointer;
    color: #2b2b2b;
    transition: color 0.2s;

    &:hover {
      color: #212121;
    }
  }
}

/* 按鈕 */
.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background: #cdb096;
  color: #4b2f1a;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 3px 8px rgb(255, 255, 255);
  transition: all 0.3s ease;

  &:hover {
    background: #f0ead6;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgb(255, 255, 255);
  }
}



/* 底部操作區 */
.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
