<div class="app-container">
  <header class="header">
    <div class="logo">
      <img src="writing.png" alt="動態問卷" class="logo-icon">
      <h1>動態問卷</h1>
    </div>
    <nav class="nav-menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">首頁</a>
      <a routerLink="/author" routerLinkActive="active" class="nav-item">關於作者</a>
      <a routerLink="/user-list" routerLinkActive="active" class="nav-item">問卷列表</a>
      @if(isAdmin){
      <a routerLink="/user-list" class="nav-item login-btn" (click)="logOut()">後台登出</a>
      } @else {
      <a routerLink="/log-in" routerLinkActive="active" class="nav-item login-btn">後台登入</a>
      }
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
