<div class="author-container">
  <div class="author-content">
    <div class="author-image">
      <img src="auth.jpg" alt="廖珈誼" class="profile-image">
    </div>
    <div class="author-info">
      <h2 class="author-title">製作人</h2>
      <h1 class="author-name">廖珈誼</h1>

      <p class="author-bio">
        畢業於世新大學廣播電視電影學系-廣播組。目前於Java全端課程進修中，期望未來可以轉型成功，成為一位真正的工程師。
      </p>

      <p class="author-bio">
        嗨，我是這個動態問卷平台的開發者，也是一名熱愛技術與設計的全端工程師。一開以來，我對「高歷練工具與體驗更好用」這件事特別有興趣，而這個網站，就是我五週的時間下所創作打造的一個小作品。
      </p>

      <p class="author-bio">
        製作過程中的初衷，其實很簡單：大多數問卷工具都太制式，不能根據使用者的回答改變下一個問題，我希望提供一個靈活、智慧、易用的解決方案，讓使用者可以輕鬆建立符合需求的問卷，同時提升填寫者的填答體驗。
      </p>

      <p class="author-bio">
        這個網站目前還在持續優化中，也歡迎你提供任何改善建議。
      </p>

      <p class="author-closing">
        謝謝你的造訪！
      </p>
    </div>
  </div>
</div>
