<div class="background1">

  <!-- 搜尋欄位 -->
  <div class="search">

    <!-- 第一行：即時搜尋 -->
    <div class="search-now">
      <span>即時查詢：</span>
      <input (keyup)="changeInput($event)" placeholder="請輸入問卷名稱" [(ngModel)]="searchData">
    </div>

    <!-- 第二行：日期與按鈕 -->
    <div class="search-row">
      <div>
        <span class="search-date" >問卷開始時間：</span>
        <input type="date" [(ngModel)]="chooseDateS" [max]="chooseDateE" [min]="today">
      </div>

      <span>迄</span>
      <input type="date" [(ngModel)]="chooseDateE" [min]="chooseDateS" [disabled]="!chooseDateS"
        [matTooltip]="!chooseDateS ? '請先填選開始日期' : ''" matTooltipPosition="above" [matTooltipDisabled]="!!chooseDateS">

      <button class="iconList">立即搜尋</button>

      <button class="iconList" (click)="reset()">重新整理</button>
    </div>
  </div>

  <!-- 表格欄位 -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- 判斷是管理者才顯示 -->
      @if (isAdmin) {
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="($event ? selection.toggle(row) : null) && outputData()" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      }

      <!-- 編號 -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header-cell">編號
            <mat-icon (click)="sortById()" fontIcon="sync_alt" class="iconList"></mat-icon>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- 名稱 -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> 問卷名稱 </th>
        <td mat-cell *matCellDef="let element">
          {{ element.title }}
        </td>
      </ng-container>

      <!-- 問卷狀態 -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <select [(ngModel)]="searchState" (ngModelChange)="applyFilter()">
              <option [ngValue]="-1">全部</option>
              <option [ngValue]="0">尚未開始</option>
              <option [ngValue]="1">進行中</option>
              <option [ngValue]="2">已截止</option>
            </select>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getStateClass(element.state)">{{getStateText(element.state)}}</span>
        </td>
      </ng-container>

      <!-- 開始時間 -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>
          <div>開始時間</div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>

      <!-- 結束時間 -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>

      <!-- 查看結果 -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef>操作介面</th>
        <td mat-cell *matCellDef="let element">

          <!-- 使用者區 -->
          @if (!isAdmin) {
          <div class="name-manger">
            @if (element.state === 0) {
            <span class="disabled-text">尚未開始</span>
            } @else if (element.state === 1) {
            <a [routerLink]="'/user-input'">
              開始填寫
            </a>
            } @else if (element.state === 2) {
            <a [routerLink]="'/user-statistics'">
              查看結果
            </a>
            }
          </div>
          }

          <!-- 管理者區 -->
          @else {
          <div class="name-manger">
            @if (element.state === 0) {
            <a (click)="edit(element)">
              編輯問卷
            </a>
            } @else if (element.state === 1) {
            <a (click)="feedback()">
              查看回饋
            </a>
            } @else if (element.state === 2) {
            <!-- 狀態 2 顯示兩個連結 -->
            <a (click)="feedback()">
              查看回饋
            </a>
            }
          </div>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<!-- 管理者側邊欄位 -->
@if(isAdmin){
<div class="mangerIcon">
  <mat-icon fontIcon="delete" (click)="del()"></mat-icon>
  <mat-icon [routerLink]="'/manger-input'" fontIcon="add_2"></mat-icon>
</div>
}
