.background{
  text-align: center;
}
.diaTitle{
  font-size: 16px;
  font-weight: 500;
}
.btnCss{
  width: 180px;
  height: 35px;
  border-radius: 20px;
  background: #8B4513;
  border: 2px solid #8B4513;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor:pointer;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 15px;

  &:hover {
    color: #8B4513; /* 滑鼠經過文字變深棕 */
    background: #fafafa;
  }
}
.mat-mdc-dialog-title{
  padding-bottom: 1px;
}
.custom-hr {
  border: none;               /* 取消預設邊框 */
  height: 3px;                /* 高度 */
  background-color: #8B4513;  /* 棕色 */
  border-radius: 2px;         /* 圓角 */
  margin: 10px 0;             /* 上下間距 */
  width: 60%;                 /* 長度，可調整 */
  margin-left: auto;           /* 水平置中 */
  margin-right: auto;
}
