<div class="home-container">

  <section class="hero">
    <img src="1.jpg" alt="問卷填寫" class="hero-image">
  </section>

  <div class="content-row">
    <section class="intro">
      <p class="intro-text">
        我們提供一個靈活適用的動態問卷平台，讓您可以依據使用者的回答，自動調整更精準、互動性更高的問卷題目。無論是市場調查、客戶回饋、學術研究，都能輕鬆製作上手！
      </p>
      <a routerLink="/user-list" routerLinkActive="active" class="cta-button">立即開始</a>
    </section>
    <section class="features">
      <img src="2.jpg" alt="填寫問卷" class="feature-image">
      <img src="3.jpg" alt="數據分析" class="feature-image">
      <img src="4.jpg" alt="統計圖表" class="feature-image">
    </section>
  </div>
</div>
